<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="text-center">
      <img src="images/actyve.png" width="250" height="220">
      <h1 style="color: #cacaca">Log in</h1>

      <%= form_for(:user, url: '/login') do |f| %>

          <p style="color: #cacaca"><%= flash[:error] %></p>

          <p style="color: #cacaca"><%= f.label :username %></p>
          <%= f.text_field :username %>


          <p style="color: #cacaca"><%= f.label :password %></p>
          <%= f.password_field :password %>

        <br><br>

        <%= f.submit "Log In"  %>

      <% end %>
    </div>
  </div>
</div>
