<div class="index">
  <h1><%= @user.username %></h1>

  <br>

  <h4>This month</h4>

    <p>
      Activities - <%= @activities.this_month.size %> <br>
      Time - <%= distance_of_time_in_words(((@activities.this_month.sum(:hour) * 60) + (@activities.this_month.sum(:minute))).minutes) %> <br>
      Calories - <%= @activities.this_month.sum(:calories) %>
    </p>


  <h4>Total Activities</h4><%= @activities.size %>

  <br>

  <h4>Total Activity Time</h4><%= distance_of_time_in_words(((@activities.sum(:hour) * 60) + (@activities.sum(:minute))).minutes) %>

  <br>

  <h4>Total Calories Burned</h4><%= @activities.sum(:calories) %>

  <br>

  <h4>Last 3 activities</h4><ul><% @activities.last(3).each do |activity| %>
    <li><%= link_to activity.exercise.name, exercise_activity_path(activity.exercise_id, activity.id) %> - <%= activity.title %> posted on <%= activity.created_at.strftime("%B %d, %Y") %></li>
    <% end %>
  </ul>
</div>
