<h1><%= current_user.username %></h1>

<h2>Summary</h2>

<h3>Total Activities</h3><%= @activities.size %>

<h3>Total Activity Time</h3><%= distance_of_time_in_words(((@activities.sum(:hour) * 60) + (@activities.sum(:minute))).minutes) %>

<h3>Total Calories Burned</h3><%= @activities.sum(:calories) %>

<h3>Last 3 activities</h3><ul><% @activities.last(3).each do |activity| %>
  <li><%= link_to activity.exercise.name %> - <%= activity.title %> posted on <%= activity.created_at.strftime("%B %d, %Y") %></li>
  <% end %>
</ul>
