<h1>All Activities</h1>

<ul>
  <% @activities.each do |activity| %>
    <li><%= activity.created_at.strftime("%B %d, %Y") %> <%= activity.user.username %> posted a new activity!
    <br>
    <%= link_to activity.exercise.name, exercise_activity_path(activity.exercise_id, activity.id) %> - <%= activity.location %> - <%= activity.title %>
    <br>
    </li>
  <% end %>
</ul>
