<h1>Your Exercise</h1>

<h2><%= @exercise.name %></h2>

<h3>Duration (HH:MM)</h3><%= @activity.hour %>:<%= @activity.minute %>

<h3>Distance</h3><%= @activity.distance %>km

<h3>Calories Burned</h3><%= @activity.calories %>

<h3>Location</h3><%= @activity.location %>

<h3>Comment</h3><%= @activity.comment %>

<br><br>

<% if @activity.user_id == current_user.id %>

  <%= link_to "Edit", edit_exercise_activity_path(@activity) %>

  <%= link_to "Delete", exercise_activity_path(@activity), method: :delete, data: {confirm: "Are you sure?"} %>

<% end %>
