<div class="index">
  <h2><%= @activity.title %></h2>

  <br>

  <h4>Posted by <%= link_to @activity.user.username, user_path(@activity.user) %></h4>

  <br>

  <h4>Exercise type - <%= link_to @activity.exercise.name, exercise_path(@activity.exercise_id) %></h4>

  <br>

  <h4>Duration</h4><%= @activity.hour.to_i %> Hours <%= @activity.minute %> Minutes

  <h4>Distance</h4><%= @activity.distance %>km

  <h4>Calories Burned</h4><%= @activity.calories %>

  <h4>Location</h4><%= @activity.location %>

  <h4>Comment</h4><%= @activity.comment %>

  <br><br>

  <% if @activity.user_id == current_user.id %>

    <%= link_to "Edit", edit_exercise_activity_path(@exercise, @activity) %>

    <%= link_to "Delete", exercise_activity_path(@activity), method: :delete, data: {confirm: "Are you sure?"} %>

  <% end %>
</div>
