<h1>Add an exercise</h1>

<%= render partial: 'layouts/errors', locals: {object: @exercise} %>

<div>
  <%= form_for @exercise do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.submit %>

  <% end %>
</div>
