<!DOCTYPE html>
<html>
  <head>
    <title>Actyve</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if is_logged_in? %>
      <%= link_to "Home", activities_path %>
      <%= link_to "New Activity", exercises_path(@activity) %>
      <%= link_to "New Exercise", new_exercise_path %>
      <%= link_to "#{current_user.username}", user_path(current_user.id) %>
      <%= link_to "Log out", logout_path, method: :delete %>
    <% end %>

    <%= yield %>
  </body>

</html>
